# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/
bq-release-notes/venv/

# Python cache / bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.egg-info/
dist/
build/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Env files
.env
.flaskenv
